/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
body {
  font: 0.85rem / 1 "微软雅黑 Verdana, Arial, simsun ";
  color: #464646;
  background: #eeeeee;
}
img {
  display: block;
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 0;
}
/* 顶部导航共用 */
.top {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2px;
  line-height: 45px;
  background: #ff9123;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
/* 底部导航共用 */
.bottom {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  border-top: 1px solid #bfbfbf;
  background: #eeeeee;
  text-align: center;
  font-size: 12px;
}
.bottom a {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  color: #868686;
}
.bottom a:before {
  content: "";
  display: block;
  height: 30px;
  margin: 3px 0 0;
}
.bottom a:nth-of-type(1):before {
  background: url(../images/index_01.png) center / contain no-repeat;
}
.bottom a:nth-of-type(2):before {
  background: url(../images/index_02.png) center / contain no-repeat;
}
.bottom a:nth-of-type(3):before {
  background: url(../images/index_03.png) center / contain no-repeat;
}
.bottom a:nth-of-type(4):before {
  background: url(../images/index_04.png) center / contain no-repeat;
}
.bottom a:nth-of-type(5):before {
  background: url(../images/index_05.png) center / contain no-repeat;
}
.bottom a.active {
  color: #ff9123;
}
.bottom a.active:nth-of-type(1):before {
  background: url(../images/index_c01.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(2):before {
  background: url(../images/index_c02.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(3):before {
  background: url(../images/index_c03.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(4):before {
  background: url(../images/index_c04.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(5):before {
  background: url(../images/index_c05.png) center / contain no-repeat;
}
.bottom a span {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  line-height: 1;
}
body {
  background: #f0f0f0;
}
.main {
  box-sizing: border-box;
  padding: 65px 0 0;
  text-align: center;
}
.main label {
  display: block;
  width: 92%;
  margin: 16px auto;
  text-align: left;
}
.main label input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #fff;
  color: #757575;
  padding: 15px 20px;
  border-radius: 5px;
  transition: all cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
}
.main label input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.main label.get {
  position: relative;
}
.main label.get input {
  padding-right: 35%;
}
.main label.get a {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  padding: 15px 0;
  border: 1px solid #ff9123;
  border-radius: 5px;
  text-align: center;
  background: #ff9123;
  color: #fff;
}
.main .signup-action {
  width: 92%;
  margin: 16px auto;
  text-align: left;
  color: #757575;
}
.main .signup-action a {
  padding: 0 30px 30px 0;
}
.main button {
  width: 92%;
  color: #fff;
  background: #ff9123;
  border: 1px solid #ff9123;
  padding: 15px 20px;
  border-radius: 5px;
  transition: all cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
}
.main button:focus {
  opacity: 0.8;
}
.main .login-action {
  padding: 1.5rem 0 0;
}
.main .login-action:after {
  content: '';
  display: block;
  clear: both;
}
.main .login-action p {
  float: left;
  width: 50%;
}
.main .login-action p:nth-of-type(1) a {
  background: #249100 url(../images/login_01.png) top 12% center / 48% no-repeat;
}
.main .login-action p:nth-of-type(2) a {
  background: #0085b2 url(../images/login_02.png) top 12% center / 48% no-repeat;
}
.main .login-action p a {
  box-sizing: border-box;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  padding: 2.5rem 0 0;
  border-radius: 50%;
  color: #fff;
  font-size: 0.6rem;
}
