@charset "utf-8";
/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
body {
  font: 0.85rem / 1 "微软雅黑 Verdana, Arial, simsun ";
  color: #464646;
}
img {
  display: block;
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 0;
}
/* 顶部导航共用 */
.top {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  line-height: 45px;
  background: #ff9123;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.top a.back {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  transform: translate(0, -50%);
  background: rgba(0, 0, 0, 0.2) url(../img/left.png) left 6px center / 56% no-repeat;
}
/* 底部导航共用 */
.bottom {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 55px;
  border-top: 1px solid #bfbfbf;
  background: #f0f0f0;
  text-align: center;
  font-size: 12px;
}
.bottom a {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  color: #868686;
}
.bottom a:before {
  content: "";
  display: block;
  height: 30px;
  margin: 4px 0 0;
}
.bottom a:nth-of-type(1):before {
  background: url(../img/index_01.png) center / contain no-repeat;
}
.bottom a:nth-of-type(2):before {
  background: url(../img/index_02.png) center / contain no-repeat;
}
.bottom a:nth-of-type(3):before {
  background: url(../img/index_03.png) center / contain no-repeat;
}
.bottom a:nth-of-type(4):before {
  background: url(../img/index_04.png) center / contain no-repeat;
}
.bottom a:nth-of-type(5):before {
  background: url(../img/index_05.png) center / contain no-repeat;
}
.bottom a.active {
  color: #ff9123;
}
.bottom a.active:nth-of-type(1):before {
  background: url(../img/index_c01.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(2):before {
  background: url(../img/index_c02.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(3):before {
  background: url(../img/index_c03.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(4):before {
  background: url(../img/index_c04.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(5):before {
  background: url(../img/index_c05.png) center / contain no-repeat;
}
.bottom a span {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  line-height: 1;
}
.temple {
  display: none;
}
* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}
html {
  height: 100%;
}
html body {
  height: 100%;
  background: #f0f0f0;
}
html body #wrap {
  height: 100%;
}
#wrap {
  position: relative;
}
#wrap .iframe-wrap {
  height: 100%;
}
#wrap .iframe-wrap iframe {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap .action-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #fff;
  width: 60%;
  height: 100%;
  overflow: auto;
  transform: translate3d(-100%, 0, 0);
  box-shadow: -1px 0px 20px 0px rgba(0, 0, 0, 0);
  transition: transform 0.3s, box-shadow 0.3s;
}
#wrap .action-list h4 {
  padding: 12px;
  text-align: center;
}
#wrap .action-list.show {
  display: block;
}
#wrap .action-list.active {
  transform: translate3d(0, 0, 0);
  box-shadow: -1px 0px 20px 9px rgba(0, 0, 0, 0.24);
}
#wrap .mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: opacity 0.3s;
}
#wrap .mask.show {
  display: block;
}
#wrap .mask.active {
  opacity: 1;
}
#wrap .button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 15px;
}
#wrap .button span {
  display: block;
  width: 30px;
  height: 30px;
  background: rgba(85, 132, 191, 0.5);
  border-radius: 100px;
  box-shadow: 5px 3px 8px 0px rgba(70, 70, 70, 0.78);
}
#wrap .button.animation {
  transition: transform 0.2s;
}
