/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
body {
  font: 0.85rem / 1 "微软雅黑 Verdana, Arial, simsun ";
  color: #464646;
}
img {
  display: block;
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 0;
}
/* 顶部导航共用 */
.top {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  line-height: 45px;
  background: #ff9123;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.top a.back {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  transform: translate(0, -50%);
  background: rgba(0, 0, 0, 0.2) url(../images/left.png) left 6px center / 56% no-repeat;
}
/* 底部导航共用 */
.bottom {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 55px;
  border-top: 1px solid #bfbfbf;
  background: #f0f0f0;
  text-align: center;
  font-size: 12px;
}
.bottom a {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  color: #868686;
}
.bottom a:before {
  content: "";
  display: block;
  height: 30px;
  margin: 4px 0 0;
}
.bottom a:nth-of-type(1):before {
  background: url(../images/index_01.png) center / contain no-repeat;
}
.bottom a:nth-of-type(2):before {
  background: url(../images/index_02.png) center / contain no-repeat;
}
.bottom a:nth-of-type(3):before {
  background: url(../images/index_03.png) center / contain no-repeat;
}
.bottom a:nth-of-type(4):before {
  background: url(../images/index_04.png) center / contain no-repeat;
}
.bottom a:nth-of-type(5):before {
  background: url(../images/index_05.png) center / contain no-repeat;
}
.bottom a.active {
  color: #ff9123;
}
.bottom a.active:nth-of-type(1):before {
  background: url(../images/index_c01.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(2):before {
  background: url(../images/index_c02.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(3):before {
  background: url(../images/index_c03.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(4):before {
  background: url(../images/index_c04.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(5):before {
  background: url(../images/index_c05.png) center / contain no-repeat;
}
.bottom a span {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  line-height: 1;
}
.temple {
  display: none;
}
/* search 样式 */
html {
  height: 100%;
}
html body {
  height: 100%;
  background: #f0f0f0;
}
html body #wrap {
  height: 100%;
}
.top {
  padding: 0 2px;
}
.top > a:nth-of-type(1) {
  float: left;
  width: 45px;
  height: 45px;
  background: url(../images/download.png) center / 55% no-repeat;
}
.top > a:nth-of-type(2) {
  float: right;
  width: 45px;
  height: 45px;
  background: url(../images/share.png) center / 50% no-repeat;
}
.top > div {
  display: inline-block;
  margin: -3px 0 0;
  vertical-align: middle;
  background: #d86c00;
  border-radius: 5px;
}
.top > div a {
  float: left;
  width: 4.5rem;
  height: 23px;
  line-height: 23px;
  padding: 2px 0 0;
  border-radius: 5px;
}
.top > div a.active {
  background: #ffffff;
  color: #ff9123;
}
.main {
  box-sizing: border-box;
  height: 100%;
  padding: 45px 0 55px;
}
.main .content-wrap {
  height: 100%;
}
.main .content {
  position: relative;
  height: 100%;
}
.buy-select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  line-height: 45px;
  text-align: center;
  background: #fff;
  font-size: 14px;
}
.buy-select a {
  float: left;
  width: 33%;
}
.buy-select a:nth-of-type(1):after,
.buy-select a:nth-of-type(2):after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: -3px 0 0 5px;
  vertical-align: middle;
  background: url(../images/down.png) center / contain no-repeat;
  transition: transform 0.3s;
}
.buy-select a.select-type.active:after {
  transform: rotate(-180deg);
}
.buy-select a:nth-of-type(3) {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  width: auto;
  line-height: 2;
  padding: 0 0 0 20px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  transform: translate(0, -50%);
  background: #e1f8ff;
  color: #5fd8ff;
}
.select-type-options {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 10;
  width: 100%;
  background: #fff;
  font-size: 14px;
  line-height: 3;
  opacity: 0;
  transition: opacity 0.3s;
}
.select-type-options.visible {
  display: block;
}
.select-type-options.active {
  opacity: 1;
}
.select-type-options a {
  display: block;
  padding: 0 12px;
  border-bottom: 1px solid #f1f1f1;
}
.black-mask {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s;
}
.black-mask.visible {
  display: block;
}
.black-mask.active {
  opacity: 1;
}
.trade-list {
  overflow: auto;
  box-sizing: border-box;
  padding: 45px 0 0;
  height: 100%;
}
.trade-list .trade-item {
  margin: 8px 0;
  background: #fff;
}
.trade-list .trade-item .trade-item-top {
  line-height: 2rem;
  padding: 0 0.8rem;
}
.trade-list .trade-item .trade-item-top:after {
  content: '';
  display: block;
  clear: both;
}
.trade-list .trade-item .trade-item-top span {
  float: left;
  color: #4c4c4c;
  font-weight: 700;
  font-size: 0.6rem;
}
.trade-list .trade-item .trade-item-top span:before {
  content: "上架时间：";
}
.trade-list .trade-item .trade-item-top strong {
  float: right;
  color: #d90000;
}
.trade-list .trade-item .trade-item-top strong:before {
  content: "￥";
  margin: 0 5px 0 0;
}
.trade-list .trade-item .trade-item-major {
  padding: 0 0 12px;
}
.trade-list .trade-item .trade-item-major:after {
  content: '';
  display: block;
  clear: both;
}
.trade-list .trade-item .trade-item-major img {
  float: left;
  width: 3rem;
  margin: 0.1rem 0 0 0.8rem;
}
.trade-list .trade-item .trade-item-major div {
  margin: 0 0 0 4.5rem;
}
.trade-list .trade-item .trade-item-major div p {
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.trade-list .trade-item .trade-item-major div p:nth-of-type(1) {
  color: #1e1e1e;
}
.trade-list .trade-item .trade-item-major div p:nth-of-type(2) {
  color: #10ccac;
  font-size: 0.7rem;
}
.trade-list .trade-item .trade-item-major div p:nth-of-type(2):before {
  content: "区服：";
}
.trade-list .trade-item .trade-item-major div p:nth-of-type(3) {
  color: #acacac;
  font-size: 0.7rem;
}
