/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
body {
  font: 0.85rem / 1 "微软雅黑 Verdana, Arial, simsun ";
  color: #464646;
}
img {
  display: block;
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 0;
}
/* 顶部导航共用 */
.top {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  line-height: 45px;
  background: #ff9123;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.top a.back {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  transform: translate(0, -50%);
  background: rgba(0, 0, 0, 0.2) url(../images/left.png) left 6px center / 56% no-repeat;
}
/* 底部导航共用 */
.bottom {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 55px;
  border-top: 1px solid #bfbfbf;
  background: #f0f0f0;
  text-align: center;
  font-size: 12px;
}
.bottom a {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  color: #868686;
}
.bottom a:before {
  content: "";
  display: block;
  height: 30px;
  margin: 4px 0 0;
}
.bottom a:nth-of-type(1):before {
  background: url(../images/index_01.png) center / contain no-repeat;
}
.bottom a:nth-of-type(2):before {
  background: url(../images/index_02.png) center / contain no-repeat;
}
.bottom a:nth-of-type(3):before {
  background: url(../images/index_03.png) center / contain no-repeat;
}
.bottom a:nth-of-type(4):before {
  background: url(../images/index_04.png) center / contain no-repeat;
}
.bottom a:nth-of-type(5):before {
  background: url(../images/index_05.png) center / contain no-repeat;
}
.bottom a.active {
  color: #ff9123;
}
.bottom a.active:nth-of-type(1):before {
  background: url(../images/index_c01.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(2):before {
  background: url(../images/index_c02.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(3):before {
  background: url(../images/index_c03.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(4):before {
  background: url(../images/index_c04.png) center / contain no-repeat;
}
.bottom a.active:nth-of-type(5):before {
  background: url(../images/index_c05.png) center / contain no-repeat;
}
.bottom a span {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  line-height: 1;
}
.main {
  padding: 45px 0 0;
}
.me_recharge .main {
  text-align: center;
}
.me_recharge .main .recharge_major {
  display: inline-block;
  width: 15.5rem;
  margin: 2rem 0 0;
}
.me_recharge .main .recharge_major:after {
  content: '';
  display: block;
  clear: both;
}
.me_recharge .main .recharge_major a {
  box-sizing: border-box;
  float: left;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  border: 1px solid #ff9123;
  border-radius: 50%;
  margin: 0 1rem 1rem 0;
}
.me_recharge .main .recharge_major a:nth-of-type(3n) {
  margin: 0 0 1rem 0;
}
.me_recharge .main .recharge_major a.active {
  background: #ff9123;
  color: #fff;
}
.me_recharge .main input {
  line-height: 1.2;
  padding: 12px 20px 10px;
  border: 1px solid #ff9123;
  border-radius: 5px;
  margin: 1rem 0 0;
  text-align: center;
  font-size: inherit;
  color: #757575;
  background: #f0f0f0;
}
.me_recharge .main input:focus {
  text-align: left;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.me_recharge .main p {
  line-height: 1.5;
  margin: 1rem 0 0;
  color: #4f4f4f;
}
.me_recharge .main .recharge_platform {
  display: inline-block;
  width: 15.5rem;
  margin: 2rem 0 0;
}
.me_recharge .main .recharge_platform:after {
  content: '';
  display: block;
  clear: both;
}
.me_recharge .main .recharge_platform a {
  box-sizing: border-box;
  float: left;
  width: 4.5rem;
  margin: 0 1rem 1rem 0;
}
.me_recharge .main .recharge_platform a:before {
  content: "";
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin: 0 0 5px;
  background: #00b200 url(../images/weixin.png) center / 75% no-repeat;
}
.me_recharge .main .recharge_platform a:nth-of-type(1) {
  color: #00b200;
}
.me_recharge .main .recharge_platform a:nth-of-type(1):before {
  background-color: #00b200;
  background-image: url(../images/weixin.png);
}
.me_recharge .main .recharge_platform a:nth-of-type(2) {
  color: #2693ff;
}
.me_recharge .main .recharge_platform a:nth-of-type(2):before {
  background-color: #2693ff;
  background-image: url(../images/zhifubao.png );
}
.me_recharge .main .recharge_platform a:nth-of-type(3) {
  margin: 0 0 1rem 0;
  color: #d93600;
}
.me_recharge .main .recharge_platform a:nth-of-type(3):before {
  background-color: #d93600;
  background-image: url(../images/yinhangka.png);
  background-size: 66%;
}
.me_pr {
  color: #272727;
}
.me_pr .payment-record-list {
  display: table;
  width: 100%;
}
.me_pr .payment-record-list li {
  display: table-row;
  background: #fff;
}
.me_pr .payment-record-list li:after {
  content: '';
  display: block;
  clear: both;
}
.me_pr .payment-record-list li p,
.me_pr .payment-record-list li div {
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  border-bottom: 3px solid #f0f0f0;
}
.me_pr .payment-record-list li p {
  width: 70%;
  line-height: 1.5;
}
.me_pr .payment-record-list li div {
  width: 30%;
  text-align: right;
}
.me_pr .payment-record-list li div em {
  display: block;
  font-style: normal;
  font-weight: 700;
  color: #d90000;
}
.me_pr .payment-record-list li div span {
  font-size: 0.6rem;
}
